[Desktop Entry]
Version=1.0
Type=Application
Name=XTuner
Comment=Tuner for Jack Audio Connection Kit
Comment[fr]=Accordeur pour le kit de connexion audio Jack
Exec=xtuner
Icon=XTuner
Categories=AudioVideo;Audio;
Terminal=false
